package pages

import (
    "mealplanner/internal/views/layouts"
    "mealplanner/internal/views/components"
    "mealplanner/internal/models"
)

templ ShoppingListDetailPage(list *models.ShoppingList) {
    @layouts.Base() {
        @components.ShoppingListDetail(list)
    }
}